.chat {
    display: flex;
    flex-direction: column;
}

.visible {
 visibility: visible;
}

.hidden {
    display: none;
}

.chatBox {
    display: inherit;
    flex-direction: column;
    height: 100%;
    width: 100%;
    scrollbar-width: none;
    scrollbar-gutter: stable;
}

.botMsg {
    display: flex;
    justify-content: flex-start;
}

.userMsg {
    display: flex;
    justify-content: flex-end;
}

.botMsg h1 {
    background: rgb(255,25,0);
    background: linear-gradient(0deg, rgba(255,25,0,1) 0%, rgba(51,45,253,1) 100%);
    padding: 4px;
    color: white;
    border-radius: 50px;
}

.userMsg h1{
    background: rgb(17,255,248);
    background: linear-gradient(0deg, rgba(17,255,248,1) 0%, rgba(102,0,210,1) 80%);
    padding: 4px;
    color: white;
    border-radius: 50px 0px 0px 50px;
}

.chatMsg {
    display: flex;
    flex-direction: row;
    background-color: #FF6600;
    border: 1px solid black;
}

.campoTexto {
    background-color: #FF6600;
    flex-grow: 1;
    border-right: 1px solid black;
    color: white;
    padding-left: 15px;
}
