header {
    display: flex;
    flex-direction: column;
    top: 0;
    position: sticky;
    width: 100%;
}

.Logo {
    width: 150px;
    margin-left: 40px;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ebf7ff;
}



.top-nav-list-left ul li {
    min-width: 130px;
    padding: 8px 16px;
}

.top-nav-list-left ul li a {
    place-self: center;
}

.top-nav-list-left ul li :hover {
    color: #f60;
}

.top-nav-list-left ul li + li + li {
    width: 130px;
    padding: 8px 16px;
    border-left: 2px solid #cbd5e1;
}



.top-nav-list-right ul li:hover {
    background-color: #eee;
}

.top-nav-list-right ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.top-nav-list-right ul li {
    padding: 8px 16px;
}

.mid-nav {
    display: flex;
    justify-content: space-around;
}

.mid-nav-list-left ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 8px 16px;
}

.mid-nav-list-left ul li a {
    place-self: center;
}

ul {
    display: flex;
    flex-direction: row;
}

ul li {
    display: flex;
}
